<div ng-controller="workingNoMasterCtrl">
	<div class="row" >
		<div class="col-md-12">

			<div class="page-title">
			<div class="btn-group" style="width: 100%;padding-bottom: 10px">
			<!--<button class="btn btn-white btn-icon" ng-click="">
            <i class="fa fa-plus"></i>
            <span translate="index.ADD"></span>
          </button>-->
			<!--<button class="btn btn-white btn-icon" ng-click="view()">
            <i class="fa fa-eye"></i>
            <span translate="index.VIEW"></span>
          </button>-->
			<button class="btn btn-white btn-icon" ng-click="edit()">
            <i class="fa fa-edit"></i>
            <span translate="index.EDIT"></span>
          </button>

		  <button class="btn btn-publish btn-icon" ng-click="importFile()">
            <i class="fa fa-upload"></i>
            <span translate="index.IMPORT"></span>
          </button>
			<button class="btn btn-postpone btn-icon" ng-click="exportFile()">
            <i class="fa fa-download"></i>
            <span translate="index.EXPORT"></span>
          </button>

		</div>
        <div class="col-md-1 " style="text-align: center;height: 32px;line-height: 32px;margin-top: 5px;background-color: #eeeeee;  border: 1px solid #e4e4e4;">Season</div>
        <div ng-dropdown-multiselect="" options="idPropertyData" selected-model="idPropertyModel" translation-texts="seasonSelectSetting" extra-settings="idPropertySettings" style="padding-left: 0px" id="workingno-master-season" class="col-md-4"></div>
        <!--<div class="col-md-6" style="padding-top: 5px;padding-bottom: 5px;">-->
        <!--</div>-->

        <div class="col-md-6" style="padding-top:4px;padding-left: 0px">
          <div class="input-group">
            <span class="input-group-addon">Working No.</span>
            <input type="text" class="form-control" aria-label="" ng-model="searchWorkingNo">
            <span class="input-group-addon" style="background-color: #1664F4;color:white" ng-click="search()">Search</span>
          </div>
        </div>

          <div ui-grid="gridOptions" ui-grid-expandable ui-grid-pagination
               ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize style="margin-top: 50px;bottom:0px"  hight-auto-fill-bottom>
            <div class="well grid-loading" ng-show="gridOptions.showLoading">
              <i class="fa fa-spin fa-spinner"></i>
              <strong>Loading...</strong>
            </div>
          </div>

      <!--<div style="height: 100px;width:auto;background-color: red"></div>-->
			</div>
		</div>
	</div>
</div>
<ng-include src="'app/common/commonconfirm.html'"></ng-include>
<ng-include src="'app/workingno/workingnodetail.html'"></ng-include>
<ng-include src="'app/worktable/uploadfile.html'"></ng-include>
<ng-include src="'app/file/uploadfile.html'"></ng-include>
<style>
	/*Filter横向样式,想用可以开,但是要调整最小宽度*/
	div[ng-controller="workingNoMasterCtrl"] div[role="columnheader"]{
		/*display: flex;*/
	}
  #workingno-master-season>div>button{
    height:32px;
    margin-top: 5px;
  }
  div[ng-controller="workingNoMasterCtrl"] .ui-grid-header-canvas{
    min-height: 44px ;
  }
  .red-header{
    color: red;
    background-color: #92d050;
  }
  .green-header{
    background-color: #92d050;
  }
  .orange-header{
    background-color: #f4b084;
  }
</style>
