<div ng-controller="MarketingForecastCtrl">
  <div class="col-md-12 " ng-hide="hideTopInfo">
    <div class="page-title">
      <div class="pannel">
        <ul class="step-case" id="step">
          <li class="s-finish col-md-2" ng-repeat="step in steps">
            <span ng-style="{'background-color':((stepNumber>$index)?step.on:step.off)}"><div class="s-content">{{step.content}}</div></span>
            <b class="b-1"
               ng-style="{'border-color':((stepNumber>$index)?(step.on+' ' +step.on+' '+step.on+' white'):(step.off+' ' +step.off+' '+step.off+' white')),'display':($index>0?'block':'none')}">
            </b>
            <b class="b-2"
               ng-style="{'border-left-color':((stepNumber+1>($index))?steps[$index-1].on:steps[$index-1].off),'display':($index>0?'block':'none')}">
            </b>
          </li>
          <li class="s-cur"><b class="b-1" style="border-color:white"></b><b class="b-2"
                                                                             ng-style="{'border-left-color':((stepNumber>=steps.length)?steps[steps.length-1].on:steps[steps.length-1].off)}"></b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12 work-table-main" id="marketingForecastFlowGuild">

    <div id="accordionDailyDocument" class="page-title">
      <div class="panel" id="panel1" ng-hide="hideTopInfo">
        <div class="panel-heading">
          <form role="form" class="form-inline" name="formPlan" novalidate>
            <!-- search -->
            <div class="pull-left">
              <div class="form-group">
                <div class="work-table-panel-title container-flex-center-center">
                  <span translate="worktable.ORDER"></span>
                </div>
              </div>
            </div>
            <div style="float: right;">
              <div class="form-group" style="width: 400px;">
                <label class="work-table-label col-md-4" translate="worktable.CRITERIA_VERSION"></label>
                <select class="col-md-8" ng-model="version" class="form-control"
                        ng-options="version.label for version in versionList">
                </select>
              </div>
              <div class="form-group">
                <button class="btn btn-secondary btn-single" ng-click="assignFactory()" ng-bind-html="assignHtml"
                        ng-disabled="assigning">
                </button>
                <button class="btn btn-secondary btn-single" ng-click="reAssign()">
                  ReAssign
                </button>
              </div>

              <div class="form-group">
                <a data-toggle="collapse" data-parent="#accordionDailyDocument" href="#collapseMarketingForecast">
                  <i class="fa  fa-angle-up pull-right"></i>
                </a>
              </div>
            </div>
            <div class="empty-view" data-toggle="collapse" data-parent="#accordionDailyDocument"
                 href="#collapseMarketingForecast">

            </div>
          </form>
        </div>
        <div id="collapseMarketingForecast" class="panel-collapse ">
          <div id="grip1" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns
               ui-grid-auto-resize class="grid-header-cell-one-line-height" style="height: 68px"></div>
        </div>

      </div>

    </div>
    <div class="panel" ng-if="false">
      <div class="panel-heading">
        <form role="form" class="form-inline" name="formPlan" novalidate>
          <div class="pull-left">
            <div class="form-group">
              <div class="work-table-panel-title container-flex-center-center">
                <span translate="worktable.CAPACITY_FILL_RATE"></span>
              </div>
            </div>
            <!--<div class="form-group">-->
            <!--<i class="fa fa-exclamation-circle fill-rate-alert"></i>&nbsp;&nbsp;-->
            <!--<label translate="worktable.OVERLOADING"></label>-->
            <!--</div>-->
          </div>
          <div style="float: right;">

            <div class="form-group" >
              <a data-toggle="collapse" data-parent="#accordionDailyDocument" href="#collapseLC01902">
                <i class="fa  fa-angle-up pull-right"></i>
              </a>
            </div>
          </div>
          <div class="empty-view" data-toggle="collapse" data-parent="#accordionDailyDocument"
               href="#collapseLC01902">

          </div>
        </form>
      </div>
      <div id="collapseLC01902" class="panel-collapse collapse" >
        <div ui-grid="gridOptions1" ui-grid-pinning ui-grid-expandable ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>

      </div>
    </div>
    <div class="page-title">
      <!--<button class="" ng-click="hideTopInfo=!hideTopInfo" style="margin-bottom: 10px">-->
        <!--<span class="fa fa-arrows-alt"></span>-->
      <!--</button>-->
      <div style="display: flex;">
        <button class="" ng-click="hideTopInfo=!hideTopInfo" style="font-size: 15px;margin: 10px;">
          <span class="fa fa-arrows-alt"></span>
        </button>
        <scrollable-tabset show-tooltips="false" api="scrlTabsApi" ng-init="setupScrollableTabSet()"
                           class="no-content-tab marketing-scrollable-tabset two-line-ui-tabs">
          <uib-tabset>
            <uib-tab id="marketingForecast{{$index}}" ng-model="tab" ng-repeat="tab in navList"
                     select="selectTab($index)">
              <uib-tab-heading>
                <div>{{tab.name}}</div>
                <div style="font-size: 12px;text-align: center">
                  <div  ng-if="!tab.loading">{{tab.count}}</div>
                  <i class="fa fa-spin fa-spinner" style="right: 0px;color: black" ng-if="tab.loading"></i>
                </div>
              </uib-tab-heading>
            </uib-tab>
          </uib-tabset>
        </scrollable-tabset>
        <div class="form-group" style="float:right;margin-bottom: 0px !important;position: absolute;right: 40px;">
          <button style="float: right;margin-top: 10px;" class="btn btn-secondary btn-single" ng-click="exportFile()" ng-disabled="exportButtonDisabled">
            <i class="fa fa-download"></i>
            <span translate="">Export</span>
          </button>

          <!--<button style="float: right;margin-top: 10px;margin-right: 20px;" class="btn btn-secondary btn-single"-->
                  <!--ng-click="toggleFilterRow()">-->
            <!--<i class="fa fa-search"></i>-->
            <!--<span translate="index.SEARCH"></span>-->
          <!--</button>-->

        </div>
      </div>
      <form role="form" class="form-inline" name="formPlan" novalidate style="margin-top: 15px;">
        <div class="form-group" ng-if="tabIndex=='0'">
          <button class="btn-bowker-theme-o" ng-click="adjustFactoryAssignment('3')">
            <span translate="worktable.COMFIRM_BY_A_SOURCE"></span>
          </button>
        </div>
        <div class="form-group" ng-if="tabIndex=='0'||tabIndex=='1'">
          <button class="btn-bowker-theme-o" ng-click="adjustFactoryAssignment2('6','BYS')">
            <span translate="sltforecast.CONFIRM_BY_BYS"></span>
          </button>
        </div>
        <div class="form-group" ng-if="tabIndex=='0'||tabIndex=='1'">
          <button class="btn-bowker-theme-o" ng-click="adjustFactoryAssignment2('6','BVG')">
            <span translate="sltforecast.CONFIRM_BY_BVG"></span>
          </button>
        </div>
        <div class="form-group" ng-if="tabIndex=='0'||tabIndex=='1'">
          <button class="btn-bowker-theme-o" ng-click="adjustFactoryAssignment2('6','BVN')">
            <span translate="sltforecast.CONFIRM_BY_BVN"></span>
          </button>
        </div>
        <div class="form-group" ng-if="tabIndex=='0'||tabIndex=='1'">
          <button class="btn-bowker-theme-o" ng-click="adjustFactoryAssignment2('6','BCA')">
            <span translate="sltforecast.CONFIRM_BY_BCA"></span>
          </button>


        </div>

      </form>


      <div ng-show="tabIndex=='0'">
        <div ng-if="tabIndex=='0'" id="marketing_forecast_grid1" ui-grid="gridOptions2" hight-auto-fill-bottom ui-grid-expandable ui-grid-pagination
             ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize style="height:385px ;" ng-style="bottomGridHeight()">
          <loading show="gridOptions2.showLoading"></loading>

        </div>
        <div class="form-group" style="margin-top: 15px;">

        </div>
      </div>
      <div ng-show="tabIndex=='1'">
        <div ng-if="tabIndex=='1'" id="marketing_forecast_grid2" ui-grid="gridOptions3" hight-auto-fill-bottom ui-grid-expandable ui-grid-pagination
             ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize style="height:385px ;" ng-style="bottomGridHeight()">

          <loading show="gridOptions3.showLoading"></loading>
        </div>
        <div class="form-group" style="margin-top: 15px;">
          <button class="btn btn-secondary btn-single col-md-2" style="background-color: #33b17a !important;"
                  ng-click="releaseOrder()" ng-disabled="disableReleaseOrderButton">
            <i class="fa fa-check-circle-o" style="font-size: 20px;"></i>&nbsp;&nbsp;<span
            translate="worktable.CONFIRM_TO_AX"></span>
          </button>
        </div>
      </div>
      <div ng-show="tabIndex=='2'">
        <div ng-if="tabIndex=='2'" id="marketing_forecast_grid1" ui-grid="gridOptions4" hight-auto-fill-bottom ui-grid-expandable ui-grid-pagination
             ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize style="height:385px ;" hight-auto-fill-bottom ng-style="bottomGridHeight()">
          <loading show="gridOptions4.showLoading"></loading>

        </div>
        <div class="form-group" style="margin-top: 15px;">
          <button class="btn btn-secondary btn-single" style="background-color: #33b17a !important;" ng-click="releaseTransitPendingOrder()" ng-disabled="disableReleaseOrderButton">
            <i class="fa fa-check-circle-o" style="font-size: 20px;"></i>&nbsp;&nbsp;<span
            translate="worktable.RELEASE"></span>
          </button>
        </div>
      </div>
      <div ng-show="tabIndex=='3'">
        <div ng-if="tabIndex=='3'" id="marketing_forecast_grid1" ui-grid="gridOptions5" ui-grid-expandable ui-grid-pagination
             ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize style="height:385px ;" hight-auto-fill-bottom ng-style="bottomGridHeight()">
          <loading show="gridOptions5.showLoading"></loading>

        </div>
        <div class="form-group" style="margin-top: 15px;">

        </div>
      </div>
    </div>
  </div>

</div>
<ng-include src="'app/common/commonconfirm.html'"></ng-include>
<ng-include src="'app/worktable/factorycapacity.html'"></ng-include>
<ng-include src="'app/worktable/uploadfile.html'"></ng-include>
<ng-include src="'app/file/uploadfile.html'"></ng-include>
<script id="blueGreenTemplate" type="text/template">
  <div class="container-flex-center-center" style="width: 100%;height: 100%;"
       ng-class="{'background-blue':row.entity.documentStatus !='1','background-green':row.entity.documentStatus =='1'}">
    <div ng-bind="row.entity.documentTypeName" class="icon-training-plan-online-offline"></div>
  </div>
</script>

<script id="isNewTemplate" type="text/template">
  <div class="container-flex-center-center" style="width: 100%;height: 100%;text-align: center;">
    <div ng-class="{'background-news':row.entity.documentStatus =='1'}"></div>
  </div>
</script>

<script id="linkLabelTemplate" type="text/template">
  <div class="container-flex-center-center" style="width: 100%;height: 100%;text-align: center;">
    <div ng-bind="row.entity.documentName" class="link-label"></div>
  </div>
</script>
<!--<script id="redLabelTemplate" type="text/template">
	<div class="container-flex-center-center" style="width: 100%;height: 100%;" ng-class="{'background-red':row.entity.fillRate >= 90}">
		<div ng-bind="row.entity.fillRate"></div><span></span>
	</div>
</script>-->

<style>
  .s-finish {
    font-size: 10px;
  }

  div[ng-controller="MarketingForecastCtrl"] .tabContent {
    background-color: #FBFBFB;
    height: 100%;
    text-align: center;
    padding-top: 50px
  }

  div[ng-controller="MarketingForecastCtrl"] .no-content-tab .tab-content {
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-bottom: -15px !important;
  }

  div[ng-controller="MarketingForecastCtrl"] .marketing-scrollable-tabset .ui-tabs-scrollable {
    /*padding-top: 30px;*/
  }

  div[ng-controller="MarketingForecastCtrl"] .marketing-scrollable-tab .ui-tabs-scrollable {
    padding-top: 30px;
  }

  div[ng-controller="MarketingForecastCtrl"] .marketing-scrollable-tabset .nav.nav-tabs > li.active > a {
    background-color: #3baf7b !important;
    border: #3BAF7B 1px solid !important;
    color: white !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  div[ng-controller="MarketingForecastCtrl"] .marketing-scrollable-tabset .nav.nav-tabs > li > a {
    background-color: white;
    border: #C6C6C6 1px solid;
    color: #C6C6C6;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .ui-grid-top-panel{
    /*overflow: visible;*/
    /*overflow-x:hidden;*/
    /*overflow-y: scroll;*/
    /*overflow-scrolling: ;*/
    /*overflow-y: visible;*/
  }
 .ui-grid-header-viewport{
    /*overflow: visible;*/
   /*overflow-x:hidden;*/
    /*overflow-y: scroll;*/
    /*overflow-x:hidden;*/
  }
</style>
