<div ng-controller="criteriaCtrl">
	<div class="row" ng-show="isEdit=='edit'">
		<div class="col-md-12">
			<div class="page-title">
				<div class="container-flex-space-between-center" style="width: 100%;margin-bottom: -15px;">
					<ul class="nav nav-tabs">
						<li ng-class="{'active':activeTab==1}">
							<a data-toggle="tab" style="padding: 14px;" ng-click="doSelectTab('factoryCriteria')">
								<span>Factory Criteria</span>
							</a>
						</li>
						<li ng-class="{'active':activeTab==2}">
							<a data-toggle="tab" style="padding: 14px;margin-left: 5px;" ng-click="doSelectTab('processCriteria')">
								<span>Process Criteria</span>
							</a>
						</li>
						<li ng-class="{'active':activeTab==3}">
							<a data-toggle="tab" style="padding: 14px;margin-left: 5px;" ng-click="doSelectTab('adjustmentCriteria')">
								<span>Adjustment Criteria</span>
							</a>
						</li>
					</ul>
					<div class="container-flex-center-center">
						<!--<button class="btn btn-secondary btn-single" style="margin-right: 5px;" ng-click="deleteCriteriaVersion()" ng-disabled="btndisable">-->
							<!--<i class="fa fa-times-circle-o"></i>&nbsp;&nbsp;-->
							<!--<span>Delete</span>-->
						<!--</button>-->
						<!--<button class="btn btn-secondary btn-single" style="margin-right: 5px;" ng-click="saveNewCriteriaVersion()" ng-disabled="btndisable">-->
							<!--<i class="fa fa-check-circle-o"></i>&nbsp;&nbsp;-->
							<!--<span>Save</span>-->
						<!--</button>-->
						<label translate="criteria.VERSION" style="white-space: nowrap;"></label>
						<span>：</span>
						<select ng-model="version" class="form-control" ng-options="version.label for version in versionList" ng-change="onVersionChange()">
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-show="showView=='factoryCriteria'">
			<div class="page-title">

				<div class="btn-group">
					<button class="btn btn-white btn-icon" ng-click="addFactoryCriteria()" ng-disabled="btndisable">
						<i class="fa fa-plus"></i>
						<span translate="index.ADD"></span>
					</button>
					<button class="btn btn-white btn-icon" ng-click="editFactoryCriteria()" ng-disabled="btndisable">
						<i class="fa fa-edit"></i>
						<span translate="index.EDIT"></span>
					</button>
					<button class="btn btn-delete btn-icon" ng-click="deleteFactoryCriteria()" ng-disabled="btndisable">
						<i class="fa fa-trash-o"></i>
						<span translate="index.DELETE"></span>
					</button>
					<!--<button class="btn btn-postpone btn-icon" ng-click="" ng-disabled="btndisable">
            <i class="fa fa-upload"></i>
            <span translate="criteria.UPLOAD_CRITERIA"></span>
         </button>-->
				</div>

				<div class="form-group" style="float: right;display: inline-flex;position: relative;">
					<button class="btn btn-secondary btn-single" style="float: right;padding-left:20px;padding-right:20px" ng-click="toggleFilterRow('1')">
						<i class="fa-search"></i>
						<span translate="index.SEARCH"></span>
					</button>
				</div>
				<div class="form-group" style="float: right;display: inline-flex;position: relative;margin-right:20px;">
					<button class="btn btn-secondary btn-single" style="float: right;padding-left:20px;padding-right:20px" ng-click="importCustomerForecastAssignmentRule()">
            <i class="fa-upload"></i><span translate="index.IMPORT_CUSTOMER_FORECAST_ASSIGNMENT_RULE"></span>
           </button>
				</div>
				<div id="factoryCriteriaGrid" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
				<div ng-click="scrolltoTop()" class="pull-right btn-top" translate="index.GO_TO_TOP"></div>
				<div style="color: rgb(78,128,241);float: left;margin: 15px 0px 0px 15px;font-size: 16px;">
					<i class="fa  fa-info-circle"></i>
					<label>&nbsp;Total:&nbsp;&nbsp;&nbsp;</label>{{factoryTotalCount}}
					<label>&nbsp;&nbsp;&nbsp;items</label>
				</div>
			</div>
		</div>

		<div class="col-md-12" ng-show="showView=='processCriteria'">
			<div class="page-title">
				<div class="btn-group">
					<button class="btn btn-white btn-icon" ng-click="addProcessCriteria()" ng-disabled="btndisable">
						<i class="fa fa-plus"></i>
						<span translate="index.ADD"></span>
					</button>
					<button class="btn btn-white btn-icon" ng-click="editProcessCriteria()" ng-disabled="btndisable">
						<i class="fa fa-edit"></i>
						<span translate="index.EDIT"></span>
					</button>
					<button class="btn btn-delete btn-icon" ng-click="deleteProcessCriteria()" ng-disabled="btndisable">
						<i class="fa fa-trash-o"></i>
						<span translate="index.DELETE"></span>
					</button>
					<!--<button class="btn btn-postpone btn-icon" ng-click="" ng-disabled="btndisable">
            <i class="fa fa-upload"></i>
            <span translate="criteria.UPLOAD_CRITERIA"></span>
         </button>-->
				</div>
				<div class="form-group" style="float: right;display: inline-flex;position: relative;">
					<button class="btn btn-secondary btn-single" style="float: right;padding-left:20px;padding-right:20px" ng-click="toggleFilterRow('2')">
						<i class="fa-search"></i>
						<span translate="index.SEARCH"></span>
					</button>
				</div>
				<div id="processCriteriaGrid" ui-grid="gridOptions1" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
				<div ng-click="scrolltoTop()" class="pull-right btn-top" translate="index.GO_TO_TOP"></div>
				<div style="color: rgb(78,128,241);float: left;margin: 15px 0px 0px 15px;font-size: 16px;">
					<i class="fa  fa-info-circle"></i>
					<label>&nbsp;Total:&nbsp;&nbsp;&nbsp;</label>{{processTotalCount}}
					<label>&nbsp;&nbsp;&nbsp;items</label>
				</div>
			</div>
		</div>

		<div class="col-md-12" ng-show="showView=='adjustmentCriteria'">

				<div class="col-md-12" style="">
          <div class="col-md-12 top-doc-label" ><strong>Current Adjustment Doc:&nbsp;&nbsp;</strong>{{adjustmentDoc}}</div>
						<div class="col-md-3" style="padding-top: 5px;padding-bottom: 5px">
						<div><span translate="documentlibrary.SEASON"></span>:</div>
						<select ng-model="model_season" ng-options="season.label for season in seasonList" style="height: 32px;width:100%;padding-left: 10px;"></select>
						</div>
						<div class="col-md-3" style="padding-top: 5px;padding-bottom: 5px">
						<div><span translate="workingNo.WORKING_NO"></span>:</div>
						<input type="text" ng-model="model_workingNo" class="form-control" size="16">
						<!-- <select ng-model="model_workingNo" ng-options="workingno.label for workingno in workingList" style="height: 32px;width:100%;padding-left: 10px;"></select> -->
						</div>

						<div class="col-md-6" style="padding-top: 5px;float: right;padding-bottom: 5px">

              <button class="btn btn-secondary btn-single" style="margin-right: 5px;margin-top: 17px" ng-click="deleteAll()" ng-disabled="btndisable">
                <i class="fa fa-times-circle-o"></i>&nbsp;&nbsp;
                <span translate="index.DELETE_ALL"></span>
              </button>
              <button style="float: right; padding-left: 20px;padding-right: 20px;margin-top: 17px" class="btn btn-secondary btn-single" ng-click="exportFile()" >
                <i class="fa fa-download"></i>
                <span translate="">Export</span>
              </button>
							<button class="btn btn-secondary btn-single" style="float: right;padding-left:20px;padding-right:20px;margin-top: 17px;" ng-click="importFactoryTuning()">
							<i class="fa-upload"></i><span  class="ng-scope" translate="index.UPLOAD"></span>
							</button>
              <button class="btn btn-secondary btn-single" style="float: right;padding-left:20px;padding-right:20px;margin-top: 17px;" ng-click="
							season = model_season;
							working = model_workingNo;
							adjustmentCriteriaSearch()">
                <i class="fa-search"></i><span  class="ng-scope">Search</span>
              </button>
						</div>
					</div>
				<div class="page-title">
					<div id="adjustmentCriteriaGrid"  ui-grid="gridOptions2" style="margin-top:104px;" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
          <div ng-click="scrolltoTop()" class="pull-right btn-top" translate="index.GO_TO_TOP"></div>
          <div style="color: rgb(78,128,241);float: left;margin: 15px 0px 0px 15px;font-size: 16px;">
            <i class="fa  fa-info-circle"></i>
            <label>&nbsp;Total:&nbsp;&nbsp;&nbsp;</label>{{adjustmentTotalCount}}
            <label>&nbsp;&nbsp;&nbsp;items</label>
          </div>
        </div>
			</div>
	</div>
	<ng-include src="'app/criteria/factorycriteria.html'" ng-if="isEdit=='editFactoryCriteria'"></ng-include>
	<ng-include src="'app/criteria/processcriteria.html'" ng-if="isEdit=='editProcessCriteria'"></ng-include>
</div>
<ng-include src="'app/common/commonconfirm.html'"></ng-include>
<ng-include src="'app/criteria/newcriteria.html'"></ng-include>
<ng-include src="'app/file/uploadfile.html'"></ng-include>
<script id="yesNoTemplate" type="text/template">
	<div style="width: 100%;height: 100%;text-align: center;display: flex;justify-content: center;line-height: 100%;">
		<div class="icon-yes-no" ng-class="{'icon-yes':row.entity.status ==1,'icon-no':row.entity.status ==0}"></div>
	</div>
</script>
<script id="factoryCriteriaTemplate" type="text/template">
	<div class="ui-grid-cell-contents"  ng-click="grid.appScope.factoryRowSelect(row)">
		{{COL_FIELD CUSTOM_FILTERS}}
	</div>
</script>
<script id="processCriteriaTemplate" type="text/template">
	<div class="ui-grid-cell-contents"  ng-click="grid.appScope.processRowSelect(row)">
		{{COL_FIELD CUSTOM_FILTERS}}
	</div>
</script>

<style>
  .top-doc-label{
    height: 44px;
    line-height: 30px;
    font-size: 17px;
    background-color: lightgray;
    margin-top: 10px;
    padding: 10px 10px 20px 20px;
    border-right:10px solid white;
  }
	.mt15{
		margin-top:15px;
	}
	.icon-yes {
		background-image: url(assets/images/yes.png);
	}

	.icon-no {
		background-image: url(assets/images/no.png);
	}

	.icon-yes-no {
		height: 20px;
		width: 20px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		margin: 5px;
	}
</style>
