<!-- Modal -->
<script type="text/ng-template" id="commonToolsModal">
	<div>
		<div class="modal-header">
			<span class="pull-left">
				<h4 class="modal-title blue" translate="index.UPLOAD_FILE"></h4>
			</span>
			<img src="assets/images/alert_delete.png" ng-click="cancel()" alt="" class="pull-right" ng-disabled="Uploading" />
		</div>
		<div class="bg-operation-monitor modal-body" ng-type-enter style="margin-top: 40px;">
			<form class="form-horizontal form-modal" role="form" novalidate>
				<div class="form-group" style="margin-top: 20px;">
					<label class="col-sm-5 control-label bold">
						<div class="col-sm-10 label-span-blue"><span translate="worktable.SELECT_A_FILE"></span></div>
					</label>
					<div ngf-select="UploadFile($file)" class="col-sm-6 upload-file-div" ng-bind="fileName"></div>
				</div>
				<div class="form-group" style="margin-top: 40px;margin-bottom: 20px;">
					<button class="ct-upload-button" ng-click="Upload()" ng-disabled="Uploading">
						<i class="fa fa-upload"></i>
						<span translate="index.UPLOAD"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
</script>

<style type="text/css">
	.label-span-blue {
		background-color: rgb(35, 58, 102);
		float: right;
		text-align: center;
		padding: 12px 20px 12px 20px !important;
		color: white;
		font-size: 14px;
		padding: 5px;
	}

	.ct-upload-button {
		margin: 0 auto;
		font-size: 14px;
		display: block;
		padding: 10px 30px;
		color: white;
		background-color: rgb(35, 58, 102);
	}

	.upload-file-div {
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 14px;
		border: #C6C6C6 1px solid;
		margin-top: 0px !important;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
</style>

<!-- Modal Window Source HTML -->
<ng-include src="'app/common/commonconfirm.html'"></ng-include>