<div ng-controller="compensationFormCtrl">
	<div id="compensationFormPage" class="row">
		<div class="col-md-12">
			<div class="page-title">
				<div class="cps-form-wrap">
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<label translate="compensation.COMPENSATION_NO" class="labelwidth"></label>
						<input type="text" ng-model="searchCompensationNo" class="form-control inputwidth" maxlength="50" ng-maxlength="50">
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<label translate="compensation.CUSTOMER" class="labelwidth"></label>
						<input type="text" ng-model="searchCustomer" class="form-control inputwidth" maxlength="50" ng-maxlength="50">
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<label translate="compensation.FACTORY" class="labelwidth"></label>
						<div class="inputwidth multi-select multi-select ng-scope ng-isolate-scope" 
							ng-dropdown-multiselect="" options="searchFactoryList" 
							selected-model="searchFactory" 
							extra-settings="extraSettings" translation-texts="translationTexts"
						>
						</div>
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<label translate="compensation.INVOICE_NO" class="labelwidth"></label>
						<input type="text" ng-model="searchInvoiceNo" class="form-control inputwidth" maxlength="50" ng-maxlength="50">
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<label translate="compensation.PO_NUMBER" class="labelwidth"></label>
						<input type="text" ng-model="searchPoNumber" class="form-control inputwidth" maxlength="50" ng-maxlength="50">
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<label translate="compensation.ORDER_TYPE" class="labelwidth"></label>
						<div class="inputwidth multi-select multi-select ng-scope ng-isolate-scope" 
							ng-dropdown-multiselect="" options="orderTypeList" 
							selected-model="searchOrderType" 
							extra-settings="extraSettings" translation-texts="translationTexts"
						>
						</div>
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<label translate="compensation.CREATED_BY" class="labelwidth"></label>
						<input type="text" ng-model="searchCreateBy" class="form-control inputwidth" maxlength="50" ng-maxlength="50">
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<label translate="compensation.STATUS" class="labelwidth"></label>
						<div class="inputwidth multi-select multi-select ng-scope ng-isolate-scope" 
							ng-dropdown-multiselect="" options="statusList" 
							selected-model="searchStatus" 
							extra-settings="extraSettings" translation-texts="translationTexts"
						>
						</div>
					</div>
					<div class="cps-form-wrap col-xs-12" style="padding: 0;">
						<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
							<label class="control-label labelwidth" translate="compensation.DATE" style="line-height: 1.3em;"></label>
							<div ng-model='dateStartTime' ng-time class="inputwidth input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dateStartTime">
								<input ng-model='dateStartTime' ng-change="controlTime('start',1)" class="form-control" size="16" type="text" value="" readonly>
								<span class="input-group-addon" ng-click="dateStartTime=''"><i class="fa-close"></i></span>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
							<label class="control-label labelwidth end-date-label" translate="to"></label>
							<div ng-model='dateEndTime' ng-time class="inputwidth input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dateEndTime">
								<input ng-model='dateEndTime'  ng-change="controlTime('end',1)" class="form-control" size="16" type="text" value="" readonly>
								<span class="input-group-addon" ng-click="dateEndTime=''"><i class="fa-close"></i></span>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="search-form-btn-wrap">
					<button
						class="btn  btn-blue btn-icon"
						ng-disabled="searchLoading"
						ng-click="search()"
					>
						<span class="fa fa-search"></span>
						<span translate="index.SEARCH"></span>
					</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-postpone btn-icon" ng-click="export()">
						<i class="fa fa-download"></i>
						<span translate="index.EXPORT"></span>
					</button>
					<button class="btn btn-white btn-icon" ng-click="create()">
						<i class="fa fa-plus"></i>
						<span translate="compensation.CREATE_COMPENSATION"></span>
					</button>
					<button class="btn btn-white btn-icon" ng-click="updateInvoiceNo()">
						<i class="fa fa-pencil"></i>
						<span translate="compensation.UPDATE_INVOICE_NO"></span>
					</button>
				</div>
				<div>
					<div class="table-title" translate="compensation.TAB_SUMMARY"></div>
				</div>
				<div ui-grid="summaryGridOptions" 
					ui-grid-pagination 
					ui-grid-selection 
					ui-grid-resize-columns 
					ui-grid-auto-resize
					ui-grid-pinning
				>
					<div class="well grid-loading loading-wrap" ng-show="searchLoading">
						<div>
							<i class="fa fa-spin fa-spinner"></i>
							<strong translate="vendorKpi.LOADING"></strong>
						</div>
					</div>
				</div>
				<div>
					<div class="table-title" translate="compensation.TAB_DETAIL"></div>
				</div>
				<div ui-grid="detailGridOptions" 
					ui-grid-pagination 
					ui-grid-selection 
					ui-grid-resize-columns 
					ui-grid-auto-resize
				>
					<div class="well grid-loading loading-wrap" ng-show="searchDetailLoading">
						<div>
							<i class="fa fa-spin fa-spinner"></i>
							<strong translate="vendorKpi.LOADING"></strong>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<ng-include src="'app/common/commonconfirm.html'"></ng-include>
<ng-include src="'app/compensation/compensationform/createform.html'"></ng-include>
<ng-include src="'app/compensation/compensationform/selectcomplaint.html'"></ng-include>

<style>
#compensationFormPage 	.form-group {
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#compensationFormPage .labelwidth {
	width: 30%;
	text-align: right;
	padding-right: 5px;
}
#compensationFormPage .inputwidth {
	width: 68% !important;
	margin-left: 4px;
}
#compensationFormPage .ui-grid.ng-isolate-scope {
	margin-top: 0;
}
#compensationFormPage .table-title {
	margin: 10px 0;
	padding: 10px 0;
	display: inline-block;
	color: royalblue;
	font-weight: bold;
}
#compensationFormPage .multi-select button {
	height: 32px;
}
.search-form-btn-wrap {
	display: flex;
	justify-content: flex-end;
}
.cps-form-wrap {
	display: flex;
	flex-wrap: wrap;
}
.full-screen-modal .modal-dialog {
	width: auto;
	margin: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
}
.full-screen-modal .modal-content {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.full-screen-modal.modal .modal-dialog .modal-content .modal-body {
	padding-right: 10px;
	padding-left: 10px;
	flex-grow: 1;
	overflow: auto;
}
.grid-loading.loading-wrap {
	margin: 0;
	bottom: 0;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>