<div ng-controller="factorySmvCtrl">
	<div class="row">
		<div class="col-md-12">

			<div class="page-title">
				<scrollable-tabset show-tooltips="false" api="scrlTabsApi" class="no-content-tab marketing-scrollable-tabset" style="width: 95%;">
					<uib-tabset>
						<uib-tab id="" ng-model="tab" ng-repeat="tab in navList" select="selectTab($index)">
							<uib-tab-heading>{{tab}}</uib-tab-heading>
						</uib-tab>
					</uib-tabset>
				</scrollable-tabset>
				<div ng-show="tabIndex==1">
					<div style="margin-top: -10px;width:500px">
						<div class="input-group" style="width: 700px;">
							<span class="input-group-addon">Document Name:</span>
							<select ng-model="factorySmvDocument" ng-options="factorySmvDocument.label for factorySmvDocument in factorySmvDocuments" ng-change="refreshData()" style="height: 32px;width:100%;padding-left: 10px;"></select>
							<span class="input-group-addon" style="background-color: #1664F4;color:white" ng-click="search()">Search</span>
							<button class="btn btn-postpone btn-icon" ng-click="export('1')" style="margin-left: 5px;">
				            <i class="fa fa-download"></i>
				            <span translate="index.EXPORT"></span>
				          	</button>
				      <button class="btn btn-postpone btn-icon" ng-click="importFile('20000')">
				            <i class="fa fa-upload"></i>
				            <span translate="index.IMPORT"></span>
				          	</button>
						</div>
					</div>
					<div>
					<div ui-grid="gridOptions1" ui-grid-expandable ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize style="height:365px ;" hight-auto-fill-bottom>
						<loading show="gridOptions1.showLoading"></loading>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-include src="'app/common/commonconfirm.html'"></ng-include>
<style>

</style>